body {

    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/double-bubble-outline.png);

}


@media screen and (min-width: 100px) and (max-width: 2500px) {

    #about, #portfolio, #contact {

        padding-right: .5rem;
        padding-left: .5rem;

    }

}

@media screen and (max-width: 2500px) and (min-width: 769px) {

    .container {

        margin-left: 50px;

    }

    .contact-info {

        margin-left: 50px;

    }

}

@media screen and (max-width: 768px) {

    .contact-info {

        margin-left: auto;
        margin-right: auto;

    }

}

@media screen and (max-width: 640px) {

    .navbar, #low-row {

    flex-direction: column;
    align-content: center;
    align-items: center;
    
    }

    .col-6 {

        flex: none;

    }

}

.bg-light {

    background: slategrey !important;

}

.navbar-brand {

    background-color: cadetblue;
    border: double;

}

.navbar-nav {

    margin-inline-start: auto;
    flex-direction: row;

}

.container {

    margin-top: 50px;
    border: double;
    background: lightgrey;
    width: 550px;

}

#about-me {

    text-shadow: 1px 1px;
    font-size: xx-large;
    border: double;
    background: cadetblue;

}

.bio-pic {

    float: left;

}

#about-me-text {

    margin-top: -7px;

}

.contact-info {

    border: double;
    background: lightgrey;
    box-sizing: content-box;
    width: fit-content;
    width: 500px;
    margin-top: 50px;

}

#C-Label {

    max-width: 25%;

}

#contact-label, #portfolio-logo {

    background-color: cadetblue;
    border: double;
    -webkit-text-emphasis-style: open;
    font-size: x-large;

}

#contact-page {

    max-width: none;

}

#submit-btn {

    margin-top: 10px;

}

.col-6 {

    margin-top: 50px;
    text-align: center;
    -webkit-text-emphasis-style: open;
    border: double;
    background-color: cadetblue;


}

#blank {

    background-color: lightgrey;

}

#word-guess {

        background-image: url("https://d2.alternativeto.net/dist/icons/image-placeholder_88743.png?width=200&height=200&mode=crop&upscale=false"); /* The image used */
        background-color: lightgrey; /* Used if the image is unavailable */
        height: 200px;
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */

}

#rpg  {

    background-image: url("https://d2.alternativeto.net/dist/icons/image-placeholder_88743.png?width=200&height=200&mode=crop&upscale=false"); /* The image used */
    background-color: lightgrey; /* Used if the image is unavailable */
    height: 200px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */

}

#trivia  {

    background-image: url("https://d2.alternativeto.net/dist/icons/image-placeholder_88743.png?width=200&height=200&mode=crop&upscale=false"); /* The image used */
    background-color: lightgrey; /* Used if the image is unavailable */
    height: 200px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */

}

#widget  {

    background-image: url("https://d2.alternativeto.net/dist/icons/image-placeholder_88743.png?width=200&height=200&mode=crop&upscale=false"); /* The image used */
    background-color: lightgrey; /* Used if the image is unavailable */
    height: 200px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */

}

#rock-paper-scissors {

        background-image: url("https://d2.alternativeto.net/dist/icons/image-placeholder_88743.png?width=200&height=200&mode=crop&upscale=false"); /* The image used */
        background-color: lightgrey; /* Used if the image is unavailable */
        height: 200px;
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */

}

