body {

    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/double-bubble-outline.png);

}


@media screen and (min-width: 100px) and (max-width: 2500px) {

    #about, #portfolio, #contact {

        padding-right: .5rem;
        padding-left: .5rem;

    }

}

@media screen and (max-width: 2500px) and (min-width: 769px) {

    .container {

        margin-left: 50px;

    }

    .contact-info {

        margin-left: 50px;

    }

}

@media screen and (max-width: 768px) and (min-width: 100px) {

    .contact-info {

        margin-left: auto;
        margin-right: auto;

    }

}

@media screen and (max-width: 640px) {

    .navbar {

    flex-direction: column;
    align-content: center;
    
    }

}

.bg-light {

    background: slategrey !important;

}

.navbar-brand {

    background-color: cadetblue;
    border: double;

}

.navbar-nav {

    margin-inline-start: auto;
    flex-direction: row;

}

.container {

    margin-top: 50px;
    border: double;
    background: lightgrey;
    width: 550px;

}

#about-me {

    text-shadow: 1px 1px;
    font-size: xx-large;
    border: double;
    background: cadetblue;

}

.bio-pic {

    float: left;

}

#about-me-text {

    margin-top: -7px;

}

.contact-info {

    border: double;
    background: lightgrey;
    box-sizing: content-box;
    width: fit-content;
    width: 500px;
    margin-top: 50px;

}

#C-Label {

    max-width: 25%;

}

#contact-label {

    background-color: cadetblue;
    border: double;
    -webkit-text-emphasis-style: open;
    font-size: x-large;

}

#contact-page {

    max-width: none;

}

#submit-btn {

    margin-top: 10px;

}